
    <div class="container mt-5">
        <div class="row">
            <div class="col d-flex flex-column">
                <a href="" class="text-dark hover-heart w-ft fw-bold">КАТАЛОГ</a>
                <a href="" class="text-muted hover-heart mt-2 w-ft fs-11px fs-11px">Акции</a>
                <a href="" class="text-muted hover-heart mt-2 w-ft fs-11px">Новинки</a>
                <a href="" class="text-muted hover-heart mt-2 w-ft fs-11px">Активности</a>
                <a href="" class="text-muted hover-heart mt-2 w-ft fs-11px">Бренды</a>
                <a href="" class="text-muted hover-heart mt-2 w-ft fs-11px">Лукбук</a>
                <a href="" class="text-muted hover-heart mt-2 w-ft fs-11px">Идеи подарков</a>
                <a href="" class="text-muted hover-heart mt-2 w-ft fs-11px">Подарки для ваших сотрудников</a>
                <a href="" class="text-muted hover-heart mt-2 w-ft fs-11px">Библиотека Спорт-Марафон</a>
            </div>
            <div class="col d-flex flex-column">
                <a href="" class="text-dark hover-heart w-ft fw-bold">МАГАЗИН</a>
                <a href="" class="text-muted hover-heart mt-2 w-ft fs-11px">Контакты</a>
                <a href="" class="text-muted hover-heart mt-2 w-ft fs-11px">О нас</a>
                <a href="" class="text-muted hover-heart mt-2 w-ft fs-11px">Команда</a>
                <a href="" class="text-muted hover-heart mt-2 w-ft fs-11px">Работа у нас</a>
            </div>
            <div class="col d-flex flex-column">
                <div class="fw-bold">СЕРВИС</div>
                <a href="" class="text-muted hover-heart mt-2 w-ft fs-11px">Персональная консультация</a>
                <a href="" class="text-muted hover-heart mt-2 w-ft fs-11px">Ски-сервис</a>
                <a href="" class="text-muted hover-heart mt-2 w-ft fs-11px">Лаборатория бутфитинга</a>
                <a href="" class="text-muted hover-heart mt-2 w-ft fs-11px">Мастерская бега</a>
                <a href="" class="text-muted hover-heart mt-2 w-ft fs-11px">Дисконтная система</a>
            </div>
            <div class="col d-flex flex-column">
                <div class="fw-bold">СООБЩЕСТВО</div>
                <a href="" class="text-muted hover-heart mt-2 w-ft fs-11px">Блог</a>
                <a href="" class="text-muted hover-heart mt-2 w-ft fs-11px">Клуб</a>
                <a href="" class="text-muted hover-heart mt-2 w-ft fs-11px">YouTube</a>
                <a href="" class="text-muted hover-heart mt-2 w-ft fs-11px">Подкасты</a>
                <a href="" class="text-muted hover-heart mt-2 w-ft fs-11px">Outdoor Fest в Никола-Ленивце</a>
                <a href="" class="text-muted hover-heart mt-2 w-ft fs-11px">Проекты в Красной Поляне</a>
                <a href="" class="text-muted hover-heart mt-2 w-ft fs-11px">Парк</a>
            </div>
            <div class="col d-flex flex-column">
                <div class="fw-bold">ИНФОРМАЦИЯ</div>
                <a href="" class="text-muted hover-heart mt-2 w-ft fs-11px">Доставка и оплата</a>
                <a href="" class="text-muted hover-heart mt-2 w-ft fs-11px">Обмен и возврат</a>
                <a href="" class="text-muted hover-heart mt-2 w-ft fs-11px">Осторожно, мошенники</a>
                <a href="" class="text-muted hover-heart mt-2 w-ft fs-11px">Оферта</a>
            </div>
            <div class="col d-flex flex-column">
                <a href="" class="text-dark hover-heart w-ft fw-bold">КОНТАКТЫ</a>
                <div class="fs-11px fw-bold mt-2">Москва, ул. Сайкина 4</div>
                <div class="text-muted fs-11px ">ежедневно с 10:00 до 24:00</div>
                <a href="" class="text-dark hover-heart w-ft mt-3">8 (800) 333-14-41</a>
                <div class="text-muted fs-11px">бесплатный звонок по России</div>
                <div class="mt-4 fs-11px fw-bold">Мы в социальных сетях</div>
                <div class="d-flex mt-2">
                    <a href=""><img src="img/vk.svg" class="me-3 img-h22"></a>
                    <a href=""><img src="img/tiktok.svg" class="img-h22"></a>
                </div>
                <div class="mt-4 fs-11px fw-bold">Наши каналы</div>
                <div class="d-flex mt-2">
                    <a href=""><img src="img/youtube.svg" class="me-3 img-h22"></a>
                    <a href=""><img src="img/yandex.svg" class="me-3 img-h22"></a>
                    <a href=""><img src="img/tg.svg" class="me-3 img-h22"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4 mb-5">
        <div class="row">
            <div class="col-4 fs-11px fw-bold">Все права защищены. 2012-2022 © Спорт-Марафон</div>
            <div class="col-2">
                <a href="">
                    <img src="img/rating_5_2.png">
                </a>
            </div>
            <div class="col"></div>
            <div class="col-3">
                <div class="d-flex">
                    <a href=""><img src="img/lebedev-logo.svg" class="img-w100 me-2"></a>
                    <div class="fs-11px fw-bold">
                        Задизайнено в 
                        <a href="" class="text-dark hover-heart">Студии Артемия Лебедева</a>
                        <a href="" class="text-dark hover-heart">Информация о сайте</a>
                    </div>
                </div>
                <div class="d-flex mt-2">
                    <a href=""><img src="img/Origix-logo-black.svg" class="img-w100 me-2"></a>
                    <div class="fs-11px fw-bold">
                        Разработано в 
                        <a href="" class="text-dark hover-heart">Origix</a>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>