<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/bootstrap.bundle.min.js" defer></script>
    <script src="js/script.js" defer></script>
</head>
<body>
    <div class="container mt-3 d-flex mb-3">
        <a href="" class="text-decoration-none d-flex">
            <img src="img/logo-short.svg">
            <div class="fw-bold fs-1 text-dark ms-2">Спорт Марафон</div>
        </a>
        <div class="ms-auto">
            <ul class="row nav fs-10px">
                <li class="col"><a href="" class="text-decoration-none text-muted hover-dark ws-nw">Доставка и оплата</a></li>
                <li class="col"><a href="" class="text-decoration-none text-muted hover-dark">Контакты</a></li>
                <li class="col"><a href="" class="text-decoration-none text-muted hover-dark">Сервис</a></li>
                <li class="col"><a href="" class="text-decoration-none text-muted hover-dark">Блог</a></li>
                <li class="col"><a href="" class="text-decoration-none text-muted hover-dark">Клуб</a></li>
                <li class="col"><a href="" class="text-decoration-none text-muted hover-dark">YouTube</a></li>
                <li class="col"><a href="" class="text-decoration-none text-muted hover-dark">Fest</a></li>
                <li class="col"><a href="" class="text-decoration-none text-muted hover-dark">Подкасты</a></li>
                <li class="col"><a href="" class="text-decoration-none text-muted hover-dark">Парк</a></li>
                <li class="col"><a href="" class="text-decoration-none text-muted hover-dark ws-nw">О магазине</a></li>
            </ul>
        </div>
    </div>
    <div class="container d-flex">
        <ul class="row fw-bold nav fs-11px">
            <li class="col"><a href="" class="text-decoration-none text-danger hover-blue">SALE</a></li>
            <li class="col"><a href="" class="text-decoration-none text-dark hover-blue">НОВИНКИ</a></li>
            <li class="col"><a href="" class="text-decoration-none text-dark hover-blue">КАТАЛОГ</a></li>
            <li class="col"><a href="" class="text-decoration-none text-dark hover-blue">ОДЕЖДА</a></li>
            <li class="col"><a href="" class="text-decoration-none text-dark hover-blue">ОБУВЬ</a></li>
            <li class="col"><a href="" class="text-decoration-none text-dark hover-blue">ТУРИЗМ</a></li>
            <li class="col"><a href="" class="text-decoration-none text-dark hover-blue">БЕГ</a></li>
            <li class="col"><a href="" class="text-decoration-none text-dark hover-blue">АЛЬПИНИЗМ</a></li>
            <li class="col"><a href="" class="text-decoration-none text-dark hover-blue">ПУТЕШЕСТВИЯ</a></li>
            <li class="col"><a href="" class="text-decoration-none text-dark hover-blue ws-nw">ГОРНЫЕ ЛЫЖИ</a></li>
            <li class="col"><a href="" class="text-decoration-none text-dark hover-blue">СНОУБОРД</a></li>
        </ul>
        <ul class="ms-auto row fw-bold nav hover-blue-group fs-11px">
            <li class="col"><a href="" class="text-decoration-none text-dark hover-blue">ВХОД</a></li>
            <li class="col"><a href="" class="text-decoration-none text-dark hover-blue">&#128093;</a></li>
            <li class="col"><a href="" class="text-decoration-none text-dark hover-blue">&#9825;</a></li>
            <li class="col"><a href="" class="text-decoration-none text-dark hover-blue">&#128269;</a></li>
        </ul>
    </div>
    <main>